<nav class="nav-bar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">My Logger</a>
        </div>
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">about</a></li>
          <li routerLinkActive="active"><a routerLink="/dashboard">dashboard</a></li>
          <li routerLinkActive="active"><a routerLink="/login">Get API key</a></li>
        </ul>
      </div>
</nav>
